*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

secrets.tfvars

.terraform/
.terraform.lock.hcl

*.o
*.o.i64

*.exec
/.lake

.vscode/

# messin
experiments/leannn5/not.git/
trash-lean/
experiments/4leannet1/not.lean4.not/

# messed git clone etc
experiments/3tvm/tvm/
